In [4]:
import pandas as pd
from sqlalchemy import create_engine
from postgres_password import pass_word

### Store CSV into DataFrame

In [5]:
csv_file = "Datasets/disney_plus_shows.csv"
disney_df = pd.read_csv(csv_file)
disney_df.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [6]:
csv_file = "Datasets/IMDB ratings.csv"
imdb_df = pd.read_csv(csv_file)
imdb_df.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

### Create new data with select columns

In [7]:
new_disney_df = disney_df[['imdb_id', 'title', 'type','rated','year','genre']].copy()
print(len(new_disney_df))
new_disney_df.head()

992

,imdb_id,title,type,rated,year,genre
0,tt0147800,10 Things I Hate About You,movie,PG-13,1999,"Comedy, Drama, Romance"
1,tt7019028,101 Dalmatian Street,series,NaN,2018–,"Animation, Comedy, Family"
2,tt0115433,101 Dalmatians,movie,G,1996,"Adventure, Comedy, Crime, Family"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,movie,G,2002,"Animation, Adventure, Comedy, Family, Musical"
4,tt0211181,102 Dalmatians,movie,G,2000,"Adventure, Comedy, Family"

In [8]:
new_imdb_df = imdb_df[['imdb_title_id', 'males_allages_avg_vote','males_0age_avg_vote','males_18age_avg_vote','males_30age_avg_vote','males_45age_avg_vote','females_allages_avg_vote','females_0age_avg_vote','females_18age_avg_vote','females_30age_avg_vote','females_45age_avg_vote']].copy()
print(len(new_imdb_df))
new_imdb_df.head()

85855

,imdb_title_id,males_allages_avg_vote,males_0age_avg_vote,males_18age_avg_vote,males_30age_avg_vote,males_45age_avg_vote,females_allages_avg_vote,females_0age_avg_vote,females_18age_avg_vote,females_30age_avg_vote,females_45age_avg_vote
0,tt0000009,6.2,7.0,5.9,5.6,6.7,6.0,7.3,5.9,5.7,4.5
1,tt0000574,6.1,6.0,6.2,6.0,6.2,6.2,NaN,5.9,6.2,6.6
2,tt0001892,5.9,NaN,5.5,5.9,6.2,5.7,NaN,5.8,5.8,6.8
3,tt0002101,5.1,NaN,5.2,4.9,5.2,5.9,NaN,5.7,5.5,6.1
4,tt0002130,7.0,8.0,7.0,7.0,7.0,7.2,7.0,7.0,7.3,7.4

### Clean up disney and imdb dataFrame

In [9]:
new_disney_data_df = new_disney_df.dropna()
print(len(new_disney_data_df))

new_disney_data_df.head()

742

,imdb_id,title,type,rated,year,genre
0,tt0147800,10 Things I Hate About You,movie,PG-13,1999,"Comedy, Drama, Romance"
2,tt0115433,101 Dalmatians,movie,G,1996,"Adventure, Comedy, Crime, Family"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,movie,G,2002,"Animation, Adventure, Comedy, Family, Musical"
4,tt0211181,102 Dalmatians,movie,G,2000,"Adventure, Comedy, Family"
5,tt1846442,12 Dates of Christmas,movie,PG,2011,"Comedy, Fantasy, Romance"

In [21]:
new_imdb_data_df = new_imdb_df.dropna()
print(len(new_imdb_data_df))
new_imdb_data_df=new_imdb_data_df.rename(columns={'males_0age_avg_vote':'males_avg_vote_0_18','males_18age_avg_vote':'males_avg_vote_18_30','males_30age_avg_vote':'males_avg_vote_30_45','males_45age_avg_vote':'males_avg_vote_45_above','females_0age_avg_vote':'females_avg_vote_0_18','females_18age_avg_vote':'females_avg_vote_18_30','females_30age_avg_vote':'females_avg_vote_30_45','females_45age_avg_vote':'females_avg_vote_45_above'})
new_imdb_data_df.head()

16993

,imdb_title_id,males_allages_avg_vote,males_avg_vote_0_18,males_avg_vote_18_30,males_avg_vote_30_45,males_avg_vote_45_above,females_allages_avg_vote,females_avg_vote_0_18,females_avg_vote_18_30,females_avg_vote_30_45,females_avg_vote_45_above
0,tt0000009,6.2,7.0,5.9,5.6,6.7,6.0,7.3,5.9,5.7,4.5
4,tt0002130,7.0,8.0,7.0,7.0,7.0,7.2,7.0,7.0,7.3,7.4
24,tt0003740,7.1,6.0,7.0,7.0,7.3,6.9,6.0,6.8,6.9,6.8
47,tt0004972,6.4,4.7,6.1,6.4,6.8,5.7,6.0,5.4,5.8,5.9
55,tt0005680,5.9,5.0,5.8,5.8,6.0,5.9,5.0,5.5,6.5,6.2

### Connect to local database

In [11]:

rds_connection_string = f"postgres:{pass_word}@localhost:5432/disney_imdb_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [17]:
engine.table_names()

['disney_plus_info', 'imdb_ratings']

### Use pandas to load csv converted DataFrame into database

In [19]:
new_disney_data_df.to_sql(name='disney_plus_info', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [20]:
new_imdb_data_df.to_sql(name='imdb_ratings', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "MaleAllAgesVote" of relation "imdb_ratings" does not exist
LINE 1: INSERT INTO imdb_ratings (imdb_title_id, "MaleAllAgesVote", ...
                                                 ^

[SQL: INSERT INTO imdb_ratings (imdb_title_id, "MaleAllAgesVote", "MaleAvgVote0_18", "MaleAvgVote18_30", "MaleAvgVote30_45", "MaleAvgVote45_above", "FemalesAllAgesVote", "FemalesAvgVote0_18", "FemalesAvgVote18_30", "FemalesAvgVote30_45", "FemalesAvgVote45_above") VALUES (%(imdb_title_id)s, %(MaleAllAgesVote)s, %(MaleAvgVote0_18)s, %(MaleAvgVote18_30)s, %(MaleAvgVote30_45)s, %(MaleAvgVote45_above)s, %(FemalesAllAgesVote)s, %(FemalesAvgVote0_18)s, %(FemalesAvgVote18_30)s, %(FemalesAvgVote30_45)s, %(FemalesAvgVote45_above)s)]
[parameters: ({'imdb_title_id': 'tt0000009', 'MaleAllAgesVote': 6.2, 'MaleAvgVote0_18': 7.0, 'MaleAvgVote18_30': 5.9, 'MaleAvgVote30_45': 5.6, 'MaleAvgVote45_above': 6.7, 'FemalesAllAgesVote': 6.0, 'FemalesAvgVote0_18': 7.3, 'FemalesAvgVote18_30': 5.9, 'FemalesAvgVote30_45': 5.7, 'FemalesAvgVote45_above': 4.5}, {'imdb_title_id': 'tt0002130', 'MaleAllAgesVote': 7.0, 'MaleAvgVote0_18': 8.0, 'MaleAvgVote18_30': 7.0, 'MaleAvgVote30_45': 7.0, 'MaleAvgVote45_above': 7.0, 'FemalesAllAgesVote': 7.2, 'FemalesAvgVote0_18': 7.0, 'FemalesAvgVote18_30': 7.0, 'FemalesAvgVote30_45': 7.3, 'FemalesAvgVote45_above': 7.4}, {'imdb_title_id': 'tt0003740', 'MaleAllAgesVote': 7.1, 'MaleAvgVote0_18': 6.0, 'MaleAvgVote18_30': 7.0, 'MaleAvgVote30_45': 7.0, 'MaleAvgVote45_above': 7.3, 'FemalesAllAgesVote': 6.9, 'FemalesAvgVote0_18': 6.0, 'FemalesAvgVote18_30': 6.8, 'FemalesAvgVote30_45': 6.9, 'FemalesAvgVote45_above': 6.8}, {'imdb_title_id': 'tt0004972', 'MaleAllAgesVote': 6.4, 'MaleAvgVote0_18': 4.7, 'MaleAvgVote18_30': 6.1, 'MaleAvgVote30_45': 6.4, 'MaleAvgVote45_above': 6.8, 'FemalesAllAgesVote': 5.7, 'FemalesAvgVote0_18': 6.0, 'FemalesAvgVote18_30': 5.4, 'FemalesAvgVote30_45': 5.8, 'FemalesAvgVote45_above': 5.9}, {'imdb_title_id': 'tt0005680', 'MaleAllAgesVote': 5.9, 'MaleAvgVote0_18': 5.0, 'MaleAvgVote18_30': 5.8, 'MaleAvgVote30_45': 5.8, 'MaleAvgVote45_above': 6.0, 'FemalesAllAgesVote': 5.9, 'FemalesAvgVote0_18': 5.0, 'FemalesAvgVote18_30': 5.5, 'FemalesAvgVote30_45': 6.5, 'FemalesAvgVote45_above': 6.2}, {'imdb_title_id': 'tt0006206', 'MaleAllAgesVote': 7.3, 'MaleAvgVote0_18': 6.8, 'MaleAvgVote18_30': 7.1, 'MaleAvgVote30_45': 7.3, 'MaleAvgVote45_above': 7.3, 'FemalesAllAgesVote': 7.2, 'FemalesAvgVote0_18': 4.0, 'FemalesAvgVote18_30': 6.9, 'FemalesAvgVote30_45': 7.1, 'FemalesAvgVote45_above': 7.7}, {'imdb_title_id': 'tt0006864', 'MaleAllAgesVote': 7.8, 'MaleAvgVote0_18': 8.0, 'MaleAvgVote18_30': 7.9, 'MaleAvgVote30_45': 7.7, 'MaleAvgVote45_above': 7.8, 'FemalesAllAgesVote': 7.5, 'FemalesAvgVote0_18': 7.0, 'FemalesAvgVote18_30': 7.2, 'FemalesAvgVote30_45': 7.4, 'FemalesAvgVote45_above': 8.0}, {'imdb_title_id': 'tt0009611', 'MaleAllAgesVote': 7.3, 'MaleAvgVote0_18': 4.7, 'MaleAvgVote18_30': 7.3, 'MaleAvgVote30_45': 7.3, 'MaleAvgVote45_above': 7.3, 'FemalesAllAgesVote': 7.4, 'FemalesAvgVote0_18': 6.0, 'FemalesAvgVote18_30': 7.4, 'FemalesAvgVote30_45': 7.3, 'FemalesAvgVote45_above': 7.6}  ... displaying 10 of 16993 total bound parameter sets ...  {'imdb_title_id': 'tt9894394', 'MaleAllAgesVote': 7.4, 'MaleAvgVote0_18': 8.6, 'MaleAvgVote18_30': 6.3, 'MaleAvgVote30_45': 8.1, 'MaleAvgVote45_above': 2.6, 'FemalesAllAgesVote': 6.8, 'FemalesAvgVote0_18': 10.0, 'FemalesAvgVote18_30': 6.1, 'FemalesAvgVote30_45': 9.6, 'FemalesAvgVote45_above': 4.8}, {'imdb_title_id': 'tt9898858', 'MaleAllAgesVote': 5.1, 'MaleAvgVote0_18': 5.1, 'MaleAvgVote18_30': 5.1, 'MaleAvgVote30_45': 5.1, 'MaleAvgVote45_above': 4.9, 'FemalesAllAgesVote': 5.1, 'FemalesAvgVote0_18': 6.0, 'FemalesAvgVote18_30': 5.4, 'FemalesAvgVote30_45': 5.0, 'FemalesAvgVote45_above': 5.0})]
(Background on this error at: http://sqlalche.me/e/f405)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [12]:
pd.read_sql_query('select * from customer_name', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

In [13]:
pd.read_sql_query('select * from customer_location', con=engine).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York